
Button:hover{
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-background-color: rgb(102, 204, 204);
    -fx-border-color: white;

}

Button {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-text-fill: rgb(102, 204, 204);
    -fx-cursor: hand;
    -fx-font-size: 20;
}

ImageView {
    -fx-cursor: hand;
}

.messageBox {
    -fx-border-color: blue;
    -fx-border-radius: 40;
    -fx-padding: 15 20 15 30;
    -fx-background-color: #66aadd;
    -fx-background-radius: 40;
}

.name {
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.message {
    -fx-label-padding: 10 0 0 0;
    -fx-max-width: 280;
    -fx-wrap-text: true;
}

.time {
    -fx-label-padding: 10 0 0 240;
    -fx-font-size: 10;
}

.avatar {
    -fx-width: 30;
    -fx-height: 30;
    -fx-padding: 10;
}

.chatPreview {
    -fx-max-width: 120;
    -fx-label-padding: 10;
}