.root {
    -fx-background-size: auto, auto, auto, auto, auto, auto, auto, auto;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image:
            url("/images/frames/backgroundImages/birdhouse_bg_0001.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0002_UP.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0005.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0002_DOWN.png"),
            url("/images/frames/backgroundImages/kooh.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0003_UP.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0004.png"),
            url("/images/frames/backgroundImages/birdhouse_bg_0006.png");
}

#healthLabel{
    -fx-font-size: 19px;
    -fx-font-family: "Segoe Print";
}