.root {
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-image:
            url("/images/Wallpaper3.jpg");
}


Button:hover{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: #fdfdfd;
    -fx-background-color: rgba(102, 204, 204, 0.58);
    -fx-border-color: white;

}
#popupMessage{
    -fx-min-width: 300;
    -fx-min-height: 50;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #59ff00;
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
}

Button {
    -fx-pref-width: 330;
    -fx-pref-height: 50;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-cursor: hand;
    -fx-border-color: aqua;
    -fx-text-fill: rgb(0, 22, 42);
    -fx-font-size: 20;
}


TextField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-cursor: text;
}

#title{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: "Bauhaus 93";
    -fx-min-height: 50;
    -fx-alignment: top-center;

}

PasswordField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-cursor: text;
}

Label{
    -fx-font-size: 20;
    -fx-text-fill: rgb(59, 0, 0);
    -fx-background-radius: 50;
    -fx-min-width: 300px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 255, 255, 0.7);
}
