.root {
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-image:
            url("/images/Wallpaper2.jpg");
}

Button:hover{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: #fdfdfd;
    -fx-background-color: rgba(102, 204, 204, 0.58);
    -fx-border-color: white;

}

Button {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-border-radius: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-background-color: rgba(255, 255, 255, 0.33);
    -fx-cursor: hand;
    -fx-border-color: aqua;
    -fx-text-fill: rgb(0, 22, 42);
    -fx-font-size: 20;
}

#backButton{
    -fx-pref-width: 30;
        -fx-pref-height: 30;
        -fx-border-radius: 50;
        -fx-background-color: transparent;
        -fx-cursor: hand;
        -fx-border-color: aqua;
        -fx-text-fill: rgb(0, 22, 42);
        -fx-font-size: 10;
}

.tab {
    -fx-pref-width: 90;
    -fx-pref-height: 20;
    -fx-font-family: "Comic Sans MS";
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-padding: 0px 0px 8px 10px;
    -fx-font-size: 13;

}

.informationBox{
    -fx-border-color: black;
    -fx-background-color: rgba(255, 255, 255, 0.49);
    -fx-text-fill: #310000;

}

PasswordField{
    -fx-max-width: 175;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-cursor: text;
}

TextField{
     -fx-max-width: 175;
     -fx-pref-height: 35;
     -fx-border-radius: 5;
     -fx-background-color: white;
     -fx-cursor: text;
 }

.tab:selected{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
}
.tab{
    -fx-cursor: hand;

}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
  -fx-border-color: black;
}


Label {
    -fx-font-family: "Segoe Print";
    -fx-font-size: 13;
}

ImageView{
    -fx-cursor: hand;
    -fx-border-color: black;
}

.informationText {
    -fx-font-weight: bold;
}